footer{
  height: $total_footer_height;
  font-size: 13px;
  a{
    color: $blue_color;
  }
  .white-footer, .container, .col-4, .col-3, .col-2{
    height: $first_footer_part_height;
  }
  .col-4, .col-3, .col-2{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col-4 img{
    width: 100%;
  }
  .col-2{
    text-align: right;
    // grandezza delle icone
    i{
      font-size: 25px;
    }
    // quando vado sull'icona di facebook
    .fa-facebook-square:hover{
      color: #4267b2;
    }
    // quando vado sull'icona di linkedin
    .fa-linkedin:hover{
      color: #4875b4;
    }
    // quando vado sull'icona di youtube
    .fa-youtube:hover{
      color: #f33;
    }
    // quando vado sull'icona di whatsapp
    .fa-whatsapp:hover{
      color: #25d366;
    }
  }
  
  // per la parte blu, finale
  .blue-footer{
    background-color: $blue_color;
    height: $last_footer_part_height;
    .container, .footer-left, .footer-right{
      height: $last_footer_part_height;
    }
    p{
      margin: 0;
      line-height: $last_footer_part_height;
      color: white;
    }
    .footer-left, .footer-right{
      float: left;
    }
    .footer-right{
      text-align: right;
    }
  }

}
